{% extends "layout.html" %}

{% block content %}
    <h2>Polls!</h2>
    <p>Well come Polls</p>
    <div>
        {% if latest_question_list %}
            <div class="ui list">
                {% for question in latest_question_list %}
                    <div class="item"><a
                            href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></div>
                {% endfor %}
            </div>
        {% else %}
            <h4> 없음. </h4>
        {% endif %}

    </div>
{% endblock %}